.hamburger__wrapper {
  position: relative; /* Ensure the dropdown is positioned correctly */
}

.hamburger__menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 25px;
  justify-content: space-around;
  gap: 3px;
}

.hamburger__line {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  border: black 0.3px solid;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger__line.active {
  display: none;
}

.hamburger__dropdown {
  position: absolute;
  top: 0; /* Adjust based on your header height */
  left: 0px;
  background-color: #be9b7b;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.hamburger__item:last-child {
  margin-bottom: 20px;
}

.hamburger__item {
  margin-top: 20px;
  padding: 10px;
  color: white;
  cursor: pointer;
  border: none; /* Remove default button border */
  background: none; /* Remove default button background */
  text-align: left; /* Align text to the left */
}

.hamburger__item:hover {
  background-color: #854442;
}
